@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-family-primary: 'Lato', sans-serif;
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
}

$font-family-primary: 'Lato', sans-serif;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
